/* Stile generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: aqua;
}

.container{
    width: 70%;
    margin: 0px auto;

}

/* Stile header*/
.container-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/jumbo.png);
    background-size: cover; 
    height: 550px;
}

#section-navbar{
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div-link{
    display: flex;
    gap: 50px;
}

#header-banner{
    width: 50%;
    height: 220px;
    margin: 20px;
    text-align:center;
    align-self: center;
}

#header-banner h1{
    color: white;
    font-size: 50px;
    padding: 30px;
}

#header-banner p{
    color: white;
    padding-bottom: 20px;
}



/* Stile main */
.main-banner{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}


.img-main{
    width: 70%;
    
}

.reverse{
    display: flex;
    justify-content: flex-end;
}

.text-main h1{
    font-size: 50px;
    padding: 30px 0;
}
.text-main{
    width: 30%;
}

.text-main p{
    font-size: 20px;
}

.div-second-banner{
    width: 100%;
    
}
.second-banner{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 0px;
}

#size-img-main{
    width: 100%;
}

.div-second-banner h1{
    font-size: 40px;
    padding: 30px 0;
}

#size-p{
    font-size: 30px;
    margin-bottom: 30px;
}

main > div:nth-child(even) {
  background-color: rgb(231, 227, 227);
}

main > div:nth-child(odd) {
  background-color: white;
}

/* Stile footer */
footer{
    background-color: rgb(34, 33, 33);
    height: 650px;
}
.footer-banner{
    display: flex;
    justify-content: center;
    height: 500px;
    padding: 50px 0px;
    
}

.social{
    width: 30%;
    color: rgba(111,131,197,255);
    
}

.address{
    width: calc(70%/4);
    display: flex;
    gap: 20px;
}

#section-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    width: 70%;
    
}

ul{
    list-style-type:none;
    color: rgba(111,131,197,255);
    margin-top: 10px;
}
li,a{
    margin: 15px 0;
    color: white;
    text-decoration: none;
}

.social h1{
    font-size: 30px;
    padding-bottom: 20px;
}

#img-ita{
    width: 30px;
    margin-right: 2px;
}

#align-span{
    display: flex;
    color: white;
}

i{
    margin: 20px 10px;
    color: white;
}

