/* Stile generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: aqua;
}

.container{
    width: 80%;
    margin: 0px auto;

}

/* Stile header*/
.container-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/jumbo.png);
    background-size: cover; 
    height: 550px;
}

#section-navbar{
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div-link{
    display: flex;
    gap: 50px;
}

#header-banner{
    width: 50%;
    height: 220px;
    margin: 20px;
    text-align:center;
    align-self: center;
}

#header-banner h1{
    color: white;
    font-size: 50px;
    padding: 30px;
}

#header-banner p{
    color: white;
    padding-bottom: 20px;
}



/* Stile main */
.main-banner{
    display: flex;
    justify-content: center;
    height: 350px;
    padding: 20px 0px;
}

.bg-blue{
    background-color: rgb(101, 101, 255);
    width: 70%;
    
}
.bg-pink{
    background-color: rgb(243, 207, 213);
    width: 30%;
    
}

.bg-green{
    background-color: green;
    width: 100%;
}

.second-banner{
    display: flex;
    justify-content: center;
    height: 600px;
    padding: 20px 0px;
}
main > div:nth-child(even) {
  background-color: rgb(182, 178, 178);
}

main > div:nth-child(odd) {
  background-color: white;
}

/* Stile footer */
footer{
    background-color: rgb(34, 33, 33);
    
}
.footer-banner{
    display: flex;
    justify-content: center;
    height: 500px;
    padding: 10px 0px;
    
}

.bg-orange{
    background-color: orange;
    width: 30%;
}

.bg-red{
    background-color: rgb(197, 34, 34);
    width: calc(70%/4);
    border: 1px solid black;
}

#section-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 50px;
    margin: 10px auto;
    width: 80%;
}

